.*
!.gitignore

# Python  byproducts
__pycache__/
test*.ipynb
.ipynb_checkpoints

# ignore voice clones assets
tests/
src/tests/

*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz

# ignore specific files
pdf_docs/ScalingLawsForNeuralLanguageModelspdf.pdf
