.*
!.gitignore

# Project byproducts
podcast_llama.egg-info/

# Python  byproducts
__pycache__/
test*.ipynb
.ipynb_checkpoints

# ignore voice clones assets
tests/
src/tests/

data/stories/
data/voices/

*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz

# ignore specific files
pdf_docs/ScalingLawsForNeuralLanguageModelspdf.pdf
